In [3]:
import pandas as pd
import numpy as np
from pprint import pprint

In [4]:
df = pd.read_csv("winequality-red.csv",sep = ';')

In [5]:
k=df.shape
k

(1599, 12)

In [6]:
df.head(8)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7

In [8]:
df.loc[df["quality"] < 5,"quality"] = 0
df.loc[df["quality"] == 5, "quality"] =1
df.loc[df["quality"]  == 6,"quality"] = 1
df.loc[df["quality"] > 6, "quality"] = 2

In [9]:
df.head(8)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,1
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,1
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,2

In [10]:
def normalize(x):
    x_new = ((x - np.mean(x)) / np.std(x))
    
    #print(x_new)
    return x_new

In [11]:
df.iloc[:,0:11]=df.iloc[:,0:11].apply(normalize)

In [12]:
df.head(8)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246,1
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777,1
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777,1
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777,1
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246,1
5,-0.528360,0.738418,-1.391472,-0.524166,-0.264960,-0.274931,-0.196679,0.558274,1.288643,-0.579207,-0.960246,1
6,-0.241094,0.403229,-1.083370,-0.666062,-0.392483,-0.083669,0.381091,-0.183745,-0.072005,-1.169337,-0.960246,1
7,-0.585813,0.682553,-1.391472,-0.949853,-0.477498,-0.083669,-0.774449,-1.137769,0.511130,-1.110324,-0.397043,2

In [15]:
bin_labels_4 = [0,1,2,3]
#df['fixed acidity'] = pd.qcut(df['fixed acidity'],q=4,labels=bin_labels_4)
for i in range(0,11):
    df.iloc[:,i]=pd.qcut(df.iloc[:,i],q=4,labels= bin_labels_4)
df.head(8)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,3,0,0,1,1,1,2,3,1,0,1
1,1,3,0,2,3,3,3,2,0,2,1,1
2,1,3,0,2,3,2,2,2,1,2,1,1
3,3,0,3,0,1,2,2,3,0,1,1,1
4,1,3,0,0,1,1,1,2,3,1,0,1
5,1,3,0,0,1,1,2,2,3,1,0,1
6,1,2,0,0,0,2,2,1,1,0,0,1
7,1,3,0,0,0,2,0,0,2,0,1,2

In [16]:
traincount=int(df.shape[0]*0.8)
traincount

1279

In [22]:
def train_test_split(df):
    training_data = df.iloc[:traincount].reset_index(drop=True)
    testing_data = df.iloc[traincount:].reset_index(drop=True)
    return training_data,testing_data
training_data = train_test_split(df)[0]
testing_data = train_test_split(df)[1]

In [23]:
training_data.shape

(1279, 12)

In [24]:
testing_data.shape

(320, 12)

In [35]:
#compute entropy
def entropy(class_label_data):
    values,counts= np.unique(class_label_data,return_counts=True)
    for i in range(len(value)):
        entropy =np.sum([(-count[i]/np.sum(counts))* np.log2(count[i]/np.sum(counts))])
    return entropy

In [50]:
#info gain

def InfoGain(data,split_attribute_name,class_label="quality"):
    total_entropy  =  entropy(data[class_label])
    vals,counts=np.unique(data[split_attribute_name],return_count=True)
    #cal the weighted entropy
    for i in range(len(vals)):
        Weighted_Entropy=np.sum([(count[i]/np.sum(counts)) *entropy(data.where(data[split_attribute_name]==vals[i]).dropna()[class_label])])
     #formula for information gain
Information_Gain =total_entropy-Weighted_entropy
return Information_Gainv

NameError: name 'total_entropy' is not defined

In [51]:
def ID3(data,Originaldata,features,class_label='quality',parent_node_class=None):
    #if all class_label values are same , return that value
    if len(np.unique(data[class_label]))<= 1:
        return np.unique(data[class_label])[0]
    
    #if the dataset is empty or below some threashold values of class_label,terminate recursion
    elif len(data) ==0:
        #find the count of distinct values of class_labek,then find the maximum count of them--> majority class labels
        return np.unique(originate[class_label])[np.argmax(np.unique(originaldata[class_label],return_counts=True)[1])]
    
    #if the feature  space is empty ,terminate recursion
    elif len(features) ==0:
        return parent_node_class
    
    #if none of the above condition hold true from the subtrees
    
    else: